@model Visit

<h1 style="background-color:lightgray; color:darkslategray">Create:</h1>

<form method="post" asp-controller="Visits" asp-action="Create">


    <div class="row">
        <label asp-for="PatientId" class="col-5"></label>
        <select asp-for="PatientId" asp-items="@(new SelectList(ViewBag.AllPatients, "PatientId", "PatientName"))" class="col-4 form-control">

            <option disabled selected>select a Patient....</option>

        </select>
        <span class="text-danger" asp-validation-for="PatientId"></span>
    </div>

    <div class="row">
        <label asp-for="DoctorId" class="col-5"></label>
        <select asp-for="DoctorId" asp-items="@(new SelectList(ViewBag.AllDoctors, "DocId", "DoctorName"))" class="col-4 form-control">

            <option disabled selected>select a Doctor....</option>

        </select>
        <span class="text-danger" asp-validation-for="DoctorId"></span>
    </div>

    <div class="row">
        <label asp-for="InsuranceCompanyID" class="col-5"></label>
        <select asp-for="InsuranceCompanyID" asp-items="@(new SelectList(ViewBag.AllInsuranceCompany, "InsuranceCompanyId", "InsuranceCompanyName"))" class="col-4 form-control">

            <option disabled selected >select an insurance company....</option>

        </select>
        <span class="text-danger" asp-validation-for="InsuranceCompanyID"></span>
    </div>

    <div class="row">
        <label asp-for="Prescription" class="col-5"></label>
        <input asp-for="Prescription" type="text" class="col-4 form-control" value="Need to add Prescription after the visit by pressing edit the visit." />
        <span class="text-danger" asp-validation-for="Prescription"></span>
    </div>

    <button type="submit" class="btn btn-primary">save</button>
    <hr />
    <a asp-controller="Visits" asp-action="index"><i class="fas fa-undo-alt"></i></a>
    <br />
    <div asp-validation-summary="All"></div>


</form>