@model Patient

<h1 style="background-color:lightgray; color:darkslategray">Edit:</h1>

<form method="post" asp-controller="Patients" asp-action="Edit">

    <input hidden asp-for="PatientId" />

    <div class="row">
        <label asp-for="PatientName" class="col-5"></label>
        <input asp-for="PatientName" class="col-4 form-control" />
        <span class="text-danger" asp-validation-for="PatientName"></span>
    </div>

    <div class="row">
        <label asp-for="Age" class="col-5"></label>
        <input asp-for="Age" class="col-4 form-control" />
        <span class="text-danger" asp-validation- for="Age"></span>
    </div>

    <div class="row">
        <label asp-for="PhoneNo" class="col-5"></label>
        <input asp-for="PhoneNo" class="col-4 form-control" />
        <span class="text-danger" asp-validation-for="PhoneNo"></span>
    </div>

    <div class="row">
        <label asp-for="Email" class="col-5"></label>
        <input asp-for="Email" class="col-4 form-control" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <button type="submit" class="btn btn-primary">save</button>
    <hr />
    <a asp-controller="Patients" asp-action="index"><i class="fas fa-undo-alt"></i></a>
    <br />
    <div asp-validation-summary="All"></div>
</form>